.order-form {
    margin: 20px;
}

.order-form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.order-form-content label {
    margin: 12px 0 5px 0;
}

.user-order,
.user-data {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.order-form button,
select,
.text-input {
    height: 4vh;
}

.order-form h2 {
    text-align: center;
    margin-bottom: 5vh;
}

.subscribe-checkbox {
    flex-direction: row;
    margin: 20px 0 5px 0;
}

.delivery-time {
    border: none;
    margin-top: 10px;
}

.delivery-options {
    display: flex;
    flex-direction: column;
}

.delivery-options label {
    margin-top: 5px;
}

.form-buttons {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: 49%;
    height: 4vh;
}

.dish-label,
.nothing {
    font-weight: bold;
    margin-top: 10px;
}